// @import "../../assets/variables.scss";
.box {
  padding-top: 16px;
}
.mainContainer {
    display: flex;
    flex-direction: column;
  }

  .balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

