@import "../../../assets/variables.scss";
.box {
  padding-top: 16px;
  & img ::after {
    content: "Main page";
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 30px;
  }
}
.mainContainer {
  display: flex;
  flex-direction: column;
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }
}

.title {
  margin-top: 30px;
  color: $secondaryTextColor;
  font-size: 14px;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    margin: auto;
  }
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 180px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid #fff;
}

.text {
  margin-left: 10px;
  color: $secondaryTextColor;
  font-size: 16px;
}
