@import "../../assets/variables";
.container {
  margin: 0 auto 0;
  padding: 0;
  width: 320px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
