@import "../../assets/variables";

.bottomButtons {
  background-color: $btn-grey-bg-color;
  width: 100vw;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
  @media screen and (min-width: 768px) {
    position: relative;
    height: 4cqmin;
  }
}

.button {
  width: calc(50%);
  height: 100%;
  background-color: #fafbfd;
  @media screen and (min-width: 768px) {
    width: 138px;
    height: 100%;
    border-radius: 15px 15px 0 0;
  }
}
