.mainContainer {
  display: flex;
  flex-direction: column;
}

.transactionBtn {
  margin: 16px 0;
}

.bottomButtons {
  background-color: #f5f6fb;
  width: 100vw;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.button {
  width: calc(50%);
  height: 100%;
}

.reports {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
