.mainContainer {
  display: flex;
  flex-direction: column;
}

.transactionBtn {
  margin: 16px 0 0 10px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.bottomButtons {
  background-color: #f5f6fb;
  width: 100vw;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.button {
  width: calc(50%);
  height: 100%;
}

.mainWindow {
  background-color: white;
  height: 616px;
  width: 100%;
  border-radius: 0 30px 30px;
}

.upWindow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 40px 0;
}

.balance {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 60px 0;
  }
  & a {
    display: flex;
    justify-content: center;
    margin: 16px 0;
  }
}
