.modal {
    width: 230px;
    height: 278px;
    margin: 30px 0px 30px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  
  .summary {
    width: 230px;
    height: 38px;
    font-size: 12px;
    font-weight: bold;
    background-color: #F5F6FB;
    margin: 0;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .table {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 2px;
    border-bottom-right-radius: 10px;
  
    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2px;
      background-color: #F5F6FB;
      width: 230px;
      height: 38px;

      &:last-of-type {
        border-bottom-right-radius: 10px;
        margin-bottom: 0;
      }

      .month, .amount {
        font-size: 12px;
        margin: auto 0;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
  