@import "../../assets/variables.scss";
.summaryTable {
  width: 230px;
  border-collapse: collapse;
  border: 2px solid transparent;
  background-color: lightgray;
  border-radius: 20px;
  margin-bottom: 50px;
}

.summaryTable th,
.summaryTable td {
  border-bottom: 2px solid white;
  padding: 8px;
}
