@import "../../assets/variables";

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 5px;
  @media screen and (min-width: 768px) {
    padding-top: 12px;
    align-items: flex-start;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 12px;
    align-items: center;
  }
}

.date {
  border: 0;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  color: $secondaryTextColor;
  width: 80px;
}
