.header {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: 320px;
  height: 56px;
}

@media (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .header {
    width: 1280px;
  }
}

.logo {
  width: 90px;
  height: 31px;
}

.usermenu {
  display: flex;
  text-align: right;
  gap: 15px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.userName {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.04em;
  text-align: right;
  margin-left: 1rem;
  color: #52555f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  width: 24px;
  height: 24px;
  fill: #e0e5eb;
  position: relative;
  margin-top: 3px;
}

.separator {
  width: 1px;
  height: 36px;
  background-color: #e0e5eb;
  margin: 0 1rem;
}

.exitLink {
  color: #52555f;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 1rem;
}
