@import "../../assets/variables.scss";
.styled-heading {
  font-size: 102px;
  font-weight: 900;
  margin: 0;
  text-align: left;
}

.styled-paragraph {
  color: rgba(82, 85, 95, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.18em;
  text-align: left;
  margin: 0 20%;
}

.styled-container {
  position: absolute;
  bottom: 42%;
  left: 20%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.styled-dollar {
  display: inline-block;
  font-size: 0.9em;
  vertical-align: middle;
  transform: scaleY(0.8) translateY(-0.05em);
  transform-origin: 50%;
}
