// @import "../../assets/variables.scss";
.table {
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    width: 624px;
    margin-top: 50px;
    border-spacing: 0;
    border: 1px solid #f5f6fb;
    background-color: #f5f6fb;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
  }
  @media screen and (min-width: 1280px) {
    width: 846px;
    margin-top: 0;
  }

  th {
    text-align: left;
    padding: 8px;
  }

  td {
    border-top: none;
    padding: 8px;
    @media screen and (min-width: 768px) {
      background-color: white;
      border-bottom: 1px solid #f5f6fb;
    }
  }
}

.trashButton {
  &:hover {
    scale: 1.1;
  }
}
