.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.name {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin: 0 20px 0 0;
  }
}

.box {
  height: 44px;
  width: 280px;
  display: flex;
  flex-direction: row;
}

.balanceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 137px;
  border-radius: 22px 0 0 22px;
  border: 3px solid #fff;
  border-right: 0;
  gap: 5px;
  @media screen and (min-width: 768px) {
    width: 125px;
    margin-right: 15px;
    border-radius: 22px;
    border: 3px solid #fff;
  }
}

// .balance {
//   @media screen and (min-width: 768px) {
//     width: 125px;
//   }
// }

.confirm {
  width: 140px;
  background-color: transparent;
  border-radius: 0 22px 22px 0;
  border: 3px solid #fff;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    width: 125px;
    border-radius: 22px;
  }
  &:hover {
    background-color: darkorange;
    color: white;
    border: 3px solid darkorange;
  }
}
