@import "normalize.css";
@import "./assets/_variables.scss";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: $primaryFontStyle;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.167;
  background-image: url("./images/desktop/desktop-bg.png");
  background-size: 100vw 70vh;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1160px;
    padding: 0 51px;
  }
}

code {
  font-family: "source-code-pro", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  letter-spacing: inherit;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  outline: none;
  border: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
